@model CharityProject.Entities.CartEntities.Cart

@{
    ViewBag.Title = "Cart";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link href="~/css/cart.css" rel="stylesheet" />


<div class="container-fluid"  style="margin-bottom:10px;height:85px;
     background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);">

</div>

<section id="cartinfo" class="form-group" style="height:70px">
    <div class="button_cont" align="center">
        @Html.ActionLink("Continue Shopping", "Index", "EShop", 
       new { @class="btn btn-outline-warning",  @style = " margin-right:60px; margin-top:10px; float:right" })
    </div>
</section>

<div style="margin-bottom:170px">

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table  table-striped" style="outline-style: solid;">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Sub Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td class="text-right">@((item.Price / 1M).ToString("0.00")) €</td>
                                    <td class="text-right">@item.Quantity</td>
                                    <td class="text-right">@(((item.Price * item.Quantity) / 1M).ToString("0.00")) €</td>
                                    <td class="text-right">
                                        @using (Html.BeginForm("Delete", "EShop", FormMethod.Post))
                                        {
                                            @Html.Hidden("ProductId", item.ProductId)
                                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button>
                                        }
                                    </td>
                                </tr>
                            }
                            @if (!Model.CartItems.Any())
                            {
                                <tr>
                                    <td colspan="5">No items in shopping cart</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"><strong>Total</strong></td>
                                <td class="text-right"><strong>@((Model.CartItems.Sum(x => x.Price * x.Quantity) / 1M).ToString("0.00")) €</strong></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

                

                    <div class="form-group" style="float:right">
                        
                        <form id="myContainer" method="post" action="@Url.Action("Checkout", "EShop")"></form>

                        <script>
                            window.paypalCheckoutReady = function () {

                                paypal.checkout.setup('TQFPH7KQNCHCQ',
                                    {
                                        environment: 'sandbox',
                                        container: 'myContainer'
                                    });

                            };</script>
                        <script src="//www.paypalobjects.com/api/checkout.js" async></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







@section scripts{

 


    @if (TempData["AddMessage"] != null)
    {
        <script>
           
            $(document).ready(function () {
                alert("You have successfully added an item to your Cart!");
            });
                     
        </script>
    }

}



