@model CharityProject.Entities.ViewModels.IndexVm

    <link href="~/css/cause.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<div style="background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);">
    <div class="hero-wrap" style="background-image: url('/images/charity.jpg');" data-stellar-background-ratio="0.5">


        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <span class="mr-2">
                            @Html.ActionLink("Home", "Index", "Home")
                        </span> <span>Aid Our Cause</span>
                    </p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></h1>
                </div>
            </div>
        </div>
    </div>




    <div class="subnav">
        <div class="subnav__container">
            <div class="subnav__title">
                <h3>Cause</h3>
            </div>
            <ul class="subnav__list">
                <li class="subnav__item"> <a href="#donationdiv">Donations</a></li>
                <li class="subnav__item"> <a href="#subscriptiondiv">Subscriptions</a></li>
                <li class="subnav__item">
                    <p>

                        @using (Html.BeginForm("Index", "Cause", FormMethod.Get))
                        {

                            @Html.DropDownList("category", new SelectList(ViewBag.Categories), "Select Plan", new { style = "padding:9px; width:190px; margin-left:10px; border-radius:3px" }) ;
                            @Html.DropDownList("NumberOfItems", new SelectList(ViewBag.NumberOfItems), "Number of Items", new { style = "padding:9px; width:190px; margin-left:10px; border-radius:3px" }) ;

                            <input type="submit" name="category" value="Search" class="btn btn-primary subnav__item" />
                        }

                      
                    </p>

                </li>
            </ul>
        </div>
    </div>






    <section class="ftco-section" id="donationdiv">
        <div class="container">
            <h2 style="color:azure; margin-bottom:10px">Donations</h2>
            <div class="row" id="easyPaginate">


                @foreach (var item in Model.Donations)
                {



                    <div class="col-md-4 d-flex ftco-animate ">
                        <div class="blog-entry align-self-stretch" style="width:100%">
                            <p  class="block-20" style="background-image: url(@item.Partner.ImageUrl)" ;">
                            </p>
                            <div class="text p-4 d-block">
                                <div class="meta mb-3">
                                </div>
                                <h3 class="heading mb-4">@item.Title</h3>
                                <p class="time-loc">Partner: @item.Partner.Name</p>
                                <h5>Plan: @item.Plan.Category</h5>
                                <p class="small" style="height:40px">@item.Description</p>

                                @Html.ActionLink("Donate", "Details", "Donation", new { id = item.DonationId }, 
                                new { @class = "btn btn-info" })
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </section>



    <div class="parallax container-fluid"></div>





    <section class="ftco-section" id="subscriptiondiv">
        <div class="container">
            <h2 style="color:azure; margin-bottom:10px">Subscriptions</h2>
            <div class="row">


                @foreach (var item in Model.Subscriptions)
                {

             
                    <div class="col-md-4 d-flex ftco-animate ">
                        <div class="blog-entry align-self-stretch" style="width:100%">
                            <p  class="block-20" style="background-image: url(@item.Partner.ImageUrl)" ;">
                            </p>
                            <div class="text p-4 d-block">
                                <div class="meta mb-3">
                                </div>
                                <h3 class="heading mb-4">@item.Title</h3>
                                <p class="time-loc">Partner: @item.Partner.Name</p>

                                <h5>Plan: @item.Plan.Category</h5>
                                <p class="small" style="height:40px">@item.Description</p>

                                @Html.ActionLink("Subscribe!", "Details", "Subscription", new { id = item.Id }, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    </div>
                
                }

            </div>
        </div>
    </section>


</div>




@section scripts{


   



    <script>


        $('a[href*="#"]').click(function (e) {
            e.preventDefault();
            var target = this.hash;
            $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 900, 'swing', function () {
                window.location.hash = target;
            });
        });



    </script>


}
